body {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: calc(6px + 2vmin);
}

.title {
  color: white;
}

h1, h2, h3, h4 {
  color: #61dafb;
}

.math {
  font-size: 2.2em !important;
  }

.form {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;

}

textarea {
  font-size: calc(6px + 2vmin);
  width: 25%;
  height: 35px;
  padding: 5px 10px;
}

input[type=submit] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  border-style: none;
  box-sizing: border-box;
  font-size: calc(6px + 2vmin);
  background-color: #61dafb;
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.App-content {
  max-width: 600px;
}

.App-link {
  color: #61dafb;
}
